<div id="content">
      <div class='col-12'>
            <p>  {{ contenttext }} </p>
      </div>
      <div class='row'>
      <div class='col-3'>
            <div class="btn btn-primary" onclick="javascript:document.location.href='index.php?c=admin&act=addgood'" class='ItemBuy'>					
                  <p>Добавить Товар</p>
            </div>
      </div>
      <div class='col-3'>
            <div class="btn btn-primary" onclick="javascript:document.location.href='index.php?c=admin&act=editgood'" class='ItemBuy'>					
                  <p>Редактирование Товаров</p>
            </div>
      </div>
      <div class='col-3'>
            <div class="btn btn-primary" onclick="javascript:document.location.href='index.php?c=admin&act=edituser'" class='ItemBuy'>					
                  <p>Просмотр Пользователей</p>
            </div>
      </div>
      <div class='col-3'>
            <div class="btn btn-primary" onclick="javascript:document.location.href='index.php?c=admin&act=vieworder'" class='ItemBuy'>					
                  <p>Просмотр Заказов</p>
            </div>
      </div>
      </div>      

</div>